*{
    margin: 0 auto;
    padding: 0;
    font-family: 'East Sea Dokdo', cursive;
    font-family: 'Sunflower', sans-serif;
}

.logo{
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color:#333;
}
ul li {
    list-style:none;
}

.list-table {
    margin-top: 40px;
}
.list-table thead th{
    height:40px;
    border-top:2px solid #FF9E44;
    border-bottom:1px solid #CCC;
    font-weight: bold;
    font-size: 17px;
}
.list-table tbody td{
    text-align:center;
    padding:10px 0;
    border-bottom:1px solid #CCC; height:20px;
    font-size: 14px 
}

.list-table{
    display: table; 
    margin-left: auto; 
    margin-right: auto;
}

.list2{
    padding: 150px;
    border: 1px solid #CCC;
    text-align: left;
    width: 1600px;
    height: 700px;
    margin-left: 150px;
    background-color: #CCC;
}
.button{
    position:absolute;
    margin-left: 85%;
    margin-top: -67px;
    background: #5f5e5e;
}
.imgg{
    position: absolute;
    margin-top: 375px;
    margin-left: -1570px;
    width: 400px;
    height: 300px;
}